@model BankBranches
Register
<body>
    @using (Html.BeginForm("Register", "Bank", FormMethod.Post))
    {
        @Html.EditorForModel()
        <button type="submit" class="btn btn-outline-secondary"> Save</button>

    }
</body>