@* @model Views_Bank_Thanks 
 *@<div class="text-center">
    <h1 class="display-4"> THANK YOU ,NOW YOUR ARE A MEMBER ! </h1>
    <li><html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Thanks</title></head>
    <body>

    </body>
</html></li>

</div>