@* @model Views_Bank_Thanks 
 *@

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">New Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Added</li>
    </ol>
</nav>
 
 
 <div class="text-center">
    <h1 class="display-4"> THANK YOU ,NOW YOUR ARE A MEMBER ! </h1>
    <li><html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Thanks</title></head>
    <body>

    </body>
</html></li>

</div>


