@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
<div class="card" style="width: 18rem;">
    <img src="~/images/KFH.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">KFH Branches </h5>
        <p class="card-text">Locating a Kuwait Finance House branches or ATMs is now faster and simpler with our ATM Branch Locator! Just enter a location near you to find nearest Branch or ATM.</p>
        <a href="#" class="btn btn-primary">Vist Us</a>
    </div>
</div>